@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.ibg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;

}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    font-family: Roboto;
    font-size: 14px;

    a {
        color: inherit;
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

}

.alert-banner {
    position: relative;
    min-height: 41px;
    background-color: #A6672B;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;
    z-index: 2;

    a {
        display: inline-flex;
        padding: 0 0 0 10px;
        transition: all 1s ease 0s;
        text-decoration: underline;

        &:hover {
            color: #070707;
        }
    }

}

.shipping-banner {
    position: relative;
    min-height: 41px;
    background-color: #252525;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    z-index: 2;
}


.button_invisible {
    display: inline-flex;
    min-height: 60px;
    max-width: 300px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease 0s;
    padding: 5px 24px;
    font-size: 14px;
    line-height: 20/14*100%;

    &:hover {
        background-color: #eee5dd;
    }

    img {
        margin: 0 0 0 84px;

        @media(max-width:800px) {
            margin: 0 0 0 10px;
        }
    }
}

/*>>>>>>>>>>>>>>>HEADER>>>>>>>>>>>>>>>>>>>>>>*/
header {
    position: relative;
    z-index: 2;
    color: #FFFEF2;


    .header-menu {
        padding: 20px 50px 30px 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width:860px) {
            background-color: rgba(57, 56, 58, 0.5);
        }

        @media (max-width:600px) {
            justify-content: center;
        }

    }

    .header__list {
        display: flex;

    }

    .header__item {
        margin: 0 25px 0 0;
        transition: all 1s ease 0s;

        @media (max-width:600px) {
            margin: 5px 10px;
        }

        @media (max-width:350px) {}

    }

    .header__item:hover {
        box-shadow: 0px 1px 0px #FFFEF2;

    }
}

/*>>>>>>>>>>>>>>>MAIN>>>>>>>>>>>>>>>>>>>>>>*/
.main {
    flex: 1 1 auto;
    background-color: #FFFEF2;
    min-width: 0;
}

.top {
    color: #FFFEF2;
    flex: 1 0 100%;
    position: relative;

    @media (max-width:860px) {
        background-color: rgba(57, 56, 58, 0.5);
    }

    .top__bg {
        position: absolute;
        width: 100%;
        height: 624px;
        top: -20%;
        left: 0;

        img {
            object-fit: cover;
            object-position: bottom right;
        }


    }

    @media (max-width:1300px) {

        .top__bg img {
            object-fit: cover;
            object-position: bottom right;
        }

    }

    @media (max-width:860px) {

        .top__bg {
            transform: translate(0%, -10%);

            img {
                opacity: 90%;
            }

        }

    }

    .top__body {
        position: relative;
        padding: 130px 80px 126px 240px;
        max-width: 402px;
        z-index: 2;

        @media (max-width:1100px) {
            padding: 80px;
        }

        @media (max-width:860px) {
            padding: 90px 20px 20px 20px;
            max-width: 100%;
            height: 100%;
            text-align: center;

        }

        @media (max-width:350px) {
            padding: 20px 20px;
        }
    }



    .top__title {
        font-size: 30px;
        line-height: 39/30*100%;
    }

    .top__text {
        margin: 16px 0 0 0;
        font-size: 16px;
        line-height: 163%;


        @media (max-width:860px) {
            font-size: 18px;
        }
    }
}

.shop {
    display: flex;
    max-height: 720px;
    background-color: #CFC7C0;
    margin-bottom: 100px;

    @media (max-width:1200px) {
        display: block;
        max-height: 100%;
    }

    .shop__img {
        flex: 0 0 auto;

        img {
            width: 100%;
        }
    }


    .shop-item {
        display: flex;
        align-self: center;
        padding: 168px 40px;
        flex: 0 1 auto;

        @media (max-width:1440px) {
            padding: 0 15px 0 0;
        }

        @media (max-width:1200px) {
            justify-content: center;
            padding: 20px 20px;
        }

        @media (max-width:500px) {
            flex: 0 1 100%;
        }
    }

    .shop-item__img {
        align-self: center;
        max-width: 200px;
        flex: 0 0 30%;
        min-width: 100px;

        img {
            width: 100%;
        }

        @media (max-width:550px) {
            display: none;
        }
    }

    .shop__href {
        display: block;
        text-decoration: underline;
        margin: 40px 60px 0 1260px;
        transition: all 1s ease 0s;

    }

    .shop__href:hover {
        box-shadow: 0px 1px 0px #333333;

    }

    .shop-item-info>*:not(:last-child) {
        margin: 0 0 20px 0;
    }

    .shop-item-info {
        margin: 0 40px;

    }

    .shop-item__title {
        font-size: 28px;
        line-height: 40/28*100%;



    }

    .shop-item__descr {
        font-size: 16px;

    }

    .shop-item__text {
        max-width: 401px;

        @media (max-width:1200px) {
            max-width: 600px;
        }

    }

    .shop-item__buttons {
        display: inline-flex;
        min-height: 60px;

    }

    .shop-item__button_black {
        display: block;
        background-color: #333333;
        border: 1px solid #333333;
        color: #F6F5E8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 50px;
        transition: all 1s ease 0s;

        &:hover {
            background-color: #161515;
        }
    }

    .shop-item__button_invisible {
        display: block;
        border: 1px solid rgba(51, 51, 51, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 50px;
        transition: all 1s ease 0s;

        &:hover {
            background-color: #eee5dd;
        }

        img {
            margin: 0 0 0 84px;
        }
    }
}


.swiper {
    margin-bottom: 190px;

    @media(max-width:1000px) {
        margin-bottom: 80px;
    }

    @media(max-width:700px) {
        margin-bottom: 50px;
        font-size: 12px;
    }

    @media (max-width:500px) {

        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: 20px;

        }

    }
}

.swiper-wrapper {
    padding: 0 0px 50px 0px;
    text-align: center;
    max-width: 1291px;


    img {
        max-width: 100%;
    }


    .swiper-slide {
        max-width: 427px;
        text-align: center;

    }

    .slide__img {
        max-height: 400px;

        img {
            max-width: 100%;
        }
    }




    .slide__title {
        font-size: 14px;
        line-height: 24/14*100%;
        text-align: center;
        padding-bottom: 10px;


    }






}



.products {
    min-width: 0;
    display: flex;
    padding: 102px 0 0 0;
    background-color: #FFFEF2;
    text-align: center;
    justify-content: center;

    @media (max-width:1200px) {
        flex-wrap: wrap;
    }

    @media (max-width:900px) {
        padding: 50px 20px 20px 20px;
    }

    .products-item {
        flex: 0 1 28%;
        height: 100%;

        @media (max-width:900px) {
            flex: 0 1 50%;
        }

        @media (max-width:500px) {
            flex: 0 1 100%;
        }
    }

    .products-item>*:not(:last-child) {
        margin: 0 0 10px 0;
    }

    .products-item__title {
        font-size: 14px;
        line-height: 24/14*100%;
    }

    .products-item__text {
        margin: 0 0 50px 0;
    }

    .products-item__img {
        max-width: 427px;

        img {
            max-width: 100%;
        }
    }
}

.info {


    .info__desc {
        font-size: 14px;
    }

    .info__title {
        font-size: 30px;
        line-height: 40/30*100%;

    }

    .info__text {
        font-size: 16px;

    }


}

.info>*:not(:last-child) {
    margin: 0 0 20px 0;
}

.vit-c {
    display: flex;
    justify-content: space-between;
    padding: 0px 0 196px 80px;

    @media(max-width:1000px) {
        padding: 0px 0 50px 30px;
    }

    @media(max-width:800px) {
        flex-wrap: wrap;
        text-align: center;
        padding: 20px 30px 50px 30px;

    }

    .vit-c-info {
        margin: 0 118px 0 0;
        flex: 1 1 50%;

        @media(max-width:800px) {
            margin: 0 auto;
            padding-bottom: 50px;
        }


    }

    .vit-c-info__button {
        justify-content: space-between;
        margin-bottom: 10px;
        text-align: center;

        @media(max-width:800px) {
            margin: 0 auto;
        }

    }


    .vit-c-img {
        flex: 1 1 auto;
        max-width: 840px;
        align-self: center;

        img {
            width: 100%;
        }

        @media(max-width:700px) {
            text-align: center;
            margin: 10px 0 0 -10px;


        }
    }

    .button__center {
        text-align: center;
    }


}

.gallery {
    display: flex;
    justify-content: space-around;
    text-align: center;

    @media (max-width:1200px) {
        flex-wrap: wrap;
    }

    @media (max-width:900px) {
        padding: 50px 20px 20px 20px;
    }

    .gallery-item {
        flex: 0 1 28%;
        height: 100%;

        @media (max-width:900px) {
            flex: 0 1 50%;
        }

        @media (max-width:500px) {
            flex: 0 1 100%;
        }
    }

    .gallery-item>*:not(:last-child) {
        margin: 0 0 10px 0;
    }

    .gallery-item__title {
        font-size: 14px;
        line-height: 29/14*100%;
    }

    .gallery-item__text {
        margin: 0 0 50px 0;
        font-size: 14px;
        line-height: 16/14*100%;
    }

    .gallery-item__img {
        max-width: 427px;

        img {
            max-width: 100%;
        }
    }
}

.online {
    display: flex;
    justify-content: space-between;
    padding: 118px 0 196px 80px;

    @media(max-width:1000px) {
        padding: 50px 0 50px 30px;
    }

    @media(max-width:700px) {
        flex-wrap: wrap;
        text-align: center;
        padding: 20px 10px;

    }

    .online-info {
        margin: 0 118px 0 0;
        flex: 1 1 50%;

        @media(max-width:1000px) {
            margin: 0 50px 0 0px;
        }

        @media(max-width:700px) {
            margin: 0;
        }
    }


    .online-img {
        flex: 1 1 auto;
        max-width: 840px;
        align-self: center;

        img {
            width: 100%;
        }

        @media(max-width:700px) {
            text-align: center;
            margin: 10px 0 0 0px;


        }
    }

    .online-info__button {
        min-height: 60px;
        justify-content: space-between;

        img {
            transform: rotate(320deg);
        }
    }

    .button__center {
        text-align: center;

        a {
            @media(max-width:700px) {
                margin: 0 auto;
            }
        }
    }


}

.quote {
    text-align: center;
    max-width: 675px;
    margin: 0auto;
    padding: 0 15px 242px 15px;

    @media(max-width:1000px) {
        padding: 0 15px 50px 15px;
    }

    .quote__text {
        font-size: 30px;
        line-height: 40/39*100%;

    }

    .quote__info {
        margin-top: 14px;
        font-size: 14px;
        line-height: 28/14*100%;

    }
}

/*>>>>>>>>>>>>>>>FOOOTER>>>>>>>>>>>>>>>>>>>>>>*/
footer {
    padding: 62px 0 62px 40px;
    background-color: #252525;
    color: #FFFEF2;

    @media (max-width: 700px) {
        padding: 50px 20px;

    }


    a {
        display: block;
        font-size: 14px;
        line-height: 35/14*100%;

        @media(max-width:1000px) {
            font-size: 10px;
        }

    }

    .footer-block__column_b {
        flex: 1 1 39%;
        padding: 0 0px 40px 0;
        margin: 0 30px 0 0;
        height: 100%;

        @media(max-width:1000px) {
            margin: 0 10px;
        }
    }

    .column_b_first {
        @media(max-width:1000px) {
            flex: 1 1 100%;
            width: 100%;
            margin: 0 10px 0 0;
        }
    }


    .footer-block__column_lang {
        .column__item {
            display: flex;
            font-size: 14px;
            line-height: 35/14*100%;

            @media(max-width:1000px) {
                font-size: 12px;
            }

            a {
                padding: 0 0 0 9px;
            }
        }
    }



    .column__form {
        display: flex;
        margin: 0 0 13px 0;
        border: 1px solid #FFFEF2;
        max-width: 520px;
        justify-content: space-between;

    }

    .form__input {
        outline: none;
        border: none;
        background-color: #252525;
        color: #FFFEF2;
        font-size: 20px;
        line-height: 37/20*100%;
        padding: 3px;

        @media(max-width:700px) {
            font-size: 14px;
        }

    }

    .form__button {
        outline: none;
        border: none;
        background-color: #252525;
        padding: 3px 13px 3px 0px;
        margin-left: -3px;
        max-width: 37px;
    }


    .menu {

        li {
            position: relative;
            max-width: 350px;
            flex: 1 1 20%;

        }

        img {
            padding: 0 0 0 6px;
            transform: rotate(320deg);
        }
    }

    .menu__list {
        display: flex;
        flex-wrap: wrap;

        >li {
            margin: 0px 20px 100px 0px;
            padding-bottom: 5px;
            border-bottom: 1px solid #FFFEF2;
        }

    }

    .menu__list {
        li {
            transition: all 1s ease 0s;
        }

        li:hover {
            .submenu__list {
                display: block;
            }
        }
    }

    .menu__link {}

    .submenu__list {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        padding: 20px 0 0 0;

        li {}
    }

    .submenu__link {
        color: #CFC7C0;
        display: inline-block;
        padding: 5px 5px;
        font-size: 12px;
    }

    @media (max-width:767px) {
        .submenu__list {
            position: relative;
            left: 0;
            top: 0;
        }

    }

    @media (max-width:500px) {
        .menu__list {
            display: block;
        }

        .menu__list li {
            margin: 0 0 10px 0;
        }

    }
}